#card-satu {
    background: #FFFFFF;
    box-shadow: 1px black;
    height: 16rem;
    margin-left: 1rem;
    width: 78%;
    padding: 1vh 2vh;
    font-family: Helvetica, sans-serif;
    border-radius: 5px;
    display: inline-block;
}

#card-dua {
    background: #FFFFFF;
    box-shadow: 1px black;
    height: 70%;
    margin: 4rem 6rem;
    width: 60%;
    padding: 6vh 10vh;
    text-align: center;
    font-family: Helvetica, sans-serif;
    border-radius: 10px;
}

#card-tiga {
    background: #FFFFFF;
    box-shadow: 1px black;
    height: 34rem;
    margin: 0.5rem 2rem;
    width: 78%;
    padding: 1vh 2vh;
    font-family: Helvetica, sans-serif;
    border-radius: 5px;
}

#data {
    margin-left: 0;
}

a {
    text-decoration: none;
}

.dtHorizontalVerticalExampleWrapper {
    max-width: 600px;
    margin: 0 auto;
}

#dtHorizontalVerticalExample th,
td {
    white-space: nowrap;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

.card {
    position: fixed;
}