#card-satu {
    background: #FFFFFF;
    box-shadow: 1px black;
    height: 300px;
    margin: 2rem 2rem;
    width: 1050px;
    padding: 12px 10px;
    font-family:  Helvetica, sans-serif;
    border-radius: 5px;
}

#card-dua {
    background: #FFFFFF;
    box-shadow: 1px black;
    height: 150px;
    margin: 4rem 6rem;
    width: 850px;
    padding: 24px 40px;
    text-align: center;
    font-family:  Helvetica, sans-serif;
    border-radius : 10px;
}

#data {
    margin-left: 0;
}
