.header {
    font-family: 'Playfair Display';font-size: 5vw;
}

.headline {
    font-family: 'Playfair Display';
    font-size: 30px;
    font-weight: 900;
}


.card{
    margin-top: 2%;
    margin-left: 2%;
    min-height: 150px;
    width: 100%;
}

.card-body{
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
 }

 .container {
    display: flex;
    flex-wrap: wrap;
 }

 @media screen and (min-width: 300px) {
    .card {
        width: 100%;
    }
 }
