.header {
    font-family: 'Playfair Display';font-size: 60px;
}

.headline {
    font-family: 'Playfair Display';
    font-size: 30px;
    font-weight: 900;
}

.tab {
    display: inline-block;
    margin-left: 85px;
}

.card{
    height: 560px;
    margin-top: 33px;
}
