.header {
    font-family: 'Playfair Display';font-size: 5vw;
}

.headline {
    font-family: 'Playfair Display';
    font-size: 30px;
    font-weight: 900;
}


.card{
    margin-top: 2%;
}

.card-body{
    height: 80%;
}
